# Server
PORT=3000
NODE_ENV=development

# HubSpot
HUBSPOT_API_KEY=
HUBSPOT_PORTAL_ID=
HUBSPOT_PIPELINE_ID=
HUBSPOT_ETAPA_EN_PROCESO=
HUBSPOT_ETAPA_CIERRE_PERDIDO=

# Quattro
QUATTRO_AUTH_URL=
QUATTRO_BASIC_AUTH=
QUATTRO_API_URL=